<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mNutrition - Gerenciador de dietas</title>

    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <div class="all-content">
        <header>
            <a href="/"><img src="/assets/images/logo2.png" alt=" mNutrition logo"></a>           
        </header>

        
        <main class="main-content">
            <h1>Monte sua dieta de forma rápida.</h1>
            <p>É muito simples... Você seleciona os alimentos em cada refeição e no final o programa calcula o valor total dos principais macronutrientes.</p>
            <a href="/dieta">MONTAR DIETA  ➝</a>
        </main>

        

       
        
    </div>

   
</body>

    <script src="scripts/script.js"></script>

</html>